.titulo-rojo {
  color: red;       
}

.titulo-azul {
  color: blue;   
}

        .img-papa {
            width: 80px;     
            height: 150px;   
            object-fit: cover; 
            object-position: 30% center; 

        }

        .img-monster {
            width: 80px;     
            height: 150px;   
            object-fit: cover; 
            object-position: center;

        }
        h1{
          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }
